<h2>Usuarios</h2>
<p *ngIf="!hasFetch">Cargando...</p>
<table *ngIf="hasFetch">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  <tr [ngClass]="{'active': user.id === selectedUser.id}" *ngFor="let user of users" (click)="setSelectUser(user)">
    <td>{{user.name}}</td>
    <td>{{user.email}}</td>
    <td><a routerLink="/posts" [queryParams]="{user:user.id}">Send post</a></td>
  </tr>

</table>

<app-user-details [item]="selectedUser" (onUserClear)="clearUser"></app-user-details>
