<div>
  <form [formGroup]="form" (ngSubmit)="sendData()" >
    ={{form.valid}}=
    <div>
      <label for="fullname">Name </label>
      <input type="text" name="fullname" formControlName="fullName" placeholder="Full name">
    </div>
    <div>
      <label for="username">Username </label>
      <input type="text" name="username" formControlName="username" placeholder="Username">
    </div>
    <div>
      <label for="email">Email </label>
      <input type="email" name="email" formControlName="email" placeholder="Email">
    </div>
    <div>
      <label for="password">Password </label>
      <input [type]="showPassword ? 'text' : 'password'" name="password" formControlName="password" placeholder="Password">
      <button (click)="toogleShowPassword()" >{{showPassword ? 'Hide': 'Show'}}</button>
    </div>
    <div>
      <label for="confirm-password">Confirm Password </label>
      <input type="password" name="confirm-password" formControlName="confirmPassword"  placeholder="Confirm Password">
    </div>
    <div>
      <button type="submit">Saoko</button>
    </div>


  </form>


  <div>Have an account? <a routerLink="/login">Log in</a></div>
</div>
