<div class="container">
  <div class="form-container">
    <h2>Login</h2>
    <form (submit)="login()">
      <mat-form-field>
        <mat-label for="email">Email </mat-label>
        <input type="text" name="email" [(ngModel)]="credentials.email" matInput>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="password">Password </mat-label>
        <input type="text" name="password" [(ngModel)]="credentials.password" matInput>
      </mat-form-field>
      <div class="form-group button">
        <button mat-raised-button color="primary">Log in</button>
      </div>
      <div class="signup">
        Don't have an account? <a routerLink="/signup">Sign up here</a>
      </div>
    </form>
  </div>
</div>

